@import "variables";
@import "mixins";

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: $font-family-main !important;

    &.stop-scroll {
        overflow: hidden;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-bold;
}

a {
    text-decoration: none;
    transition: 500ms;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 1.7rem;
}

.socials-list {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: $color-bg-main;

    .socials-item {
        margin: 0 35px 0 0;

        &:last-child {
            margin: 0;
        }
    }
}

footer {
    color: $color-bg-main;
    text-align: center;
    margin-bottom: 30px;
}
