@import "variables";
@import "mixins";

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: $font-family-main !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-bold;
}

a {
    text-decoration: none;
    transition: 500ms;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 1.7rem;
}
