// COLORS
$color-bg-main: #4c459b;
$color-bg-secondary: #ed7759;
$color-font-main: #e8ddbf;

// FONT
$font-family-main: "Telegraf-Regular";
$font-family-bold: "Telegraf-Bold";
$font-family-ultra-bold: "Telegraf-UltraBold";
$font-family-ultra-light: "Telegraf-UltraLight";
