.contact {
    text-align: center;
    color: $color-bg-main;
    min-height: 0;

    .contact-title {
        font-size: 2rem;
        letter-spacing: 0.06rem;
        font-weight: 800;
    }

    .contact-target-wrapper {
        margin: 0 0 3rem 0;

        .contact-name {
            font-size: 1.2rem;
            letter-spacing: 0.06rem;
            line-height: 125.5%;
            margin: 0 0 1.5rem 0;
        }
        .contact-target-link {
            display: block;
            margin: 0 0 1.5rem 0;
            color: $color-bg-main;
            font-size: 1.2rem;
        }
    }

    @include forTablet {
        .contact-title {
            font-size: 4rem;
        }

        .contact-targets {
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            max-width: 1000px;

            .contact-target-wrapper {
                max-width: 30%;
                margin-bottom: 300px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
