@font-face {
  font-family: "Telegraf-Regular";
  src: url("../telegraf-font/Telegraf-Regular.eot");
  src: url("../telegraf-font/Telegraf-Regular.woff") format("woff"), url("../telegraf-font/Telegraf-Regular.woff2") format("woff2"), url("../telegraf-font/Telegraf-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Telegraf-Bold";
  src: url("../telegraf-font/Telegraf-Bold.eot");
  src: url("../telegraf-font/Telegraf-Bold.woff") format("woff"), url("../telegraf-font/Telegraf-Bold.woff2") format("woff2"), url("../telegraf-font/Telegraf-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Telegraf-UltraBold";
  src: url("../telegraf-font/Telegraf-UltraBold.eot");
  src: url("../telegraf-font/Telegraf-UltraBold.woff") format("woff"), url("../telegraf-font/Telegraf-UltraBold.woff2") format("woff2"), url("../telegraf-font/Telegraf-UltraBold.ttf") format("ttf");
}
@font-face {
  font-family: "Telegraf-UltraLight";
  src: url("../telegraf-font/Telegraf-UltraLight.eot");
  src: url("../telegraf-font/Telegraf-UltraLight.woff") format("woff"), url("../telegraf-font/Telegraf-UltraLight.woff2") format("woff2"), url("../telegraf-font/Telegraf-UltraLight.ttf") format("ttf");
}
html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Telegraf-Regular" !important;
}
body.stop-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Telegraf-Bold";
}

a {
  text-decoration: none;
  transition: 500ms;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  position: relative;
  min-height: 100vh;
}
section .navanchor {
  position: absolute;
}

.container {
  margin: 0 1.7rem;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: #4c459b;
}
.socials-list .socials-item {
  margin: 0 35px 0 0;
}
.socials-list .socials-item:last-child {
  margin: 0;
}

footer {
  color: #4c459b;
  text-align: center;
  margin-bottom: 30px;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.2. Change font properties to 'inherit'in Safari. */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.welcome-sign {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}
.welcome-sign::before {
  content: "";
  display: block;
  background-image: url(/assets/img/1.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.welcome-sign .title-pic-wrapper {
  width: 100%;
  text-align: center;
}
.welcome-sign .title-pic-wrapper img {
  margin: 0 auto -70px auto;
  padding-left: 20px;
  max-height: 162px;
}
@media (min-width: 760px) {
  .welcome-sign .title-pic-wrapper img {
    margin: 0 auto -100px auto;
    max-height: 250px;
    padding-left: 60px;
  }
}
@media (min-width: 1000px) {
  .welcome-sign .title-pic-wrapper img {
    margin: 0 auto -180px auto;
    max-height: 400px;
    padding-left: 80px;
  }
}
.welcome-sign .socials-list {
  padding: 57px 0 60px 0;
}

.navbar {
  background-color: #4c459b;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 1.7rem;
  position: fixed;
  width: 100vw;
  z-index: 6;
}
.navbar .home-sign img {
  max-width: 25px;
}
.navbar .menu {
  display: none;
}
@media (min-width: 760px) {
  .navbar {
    padding: 2rem 1.7rem;
  }
  .navbar .hamburger {
    display: none;
  }
  .navbar .menu {
    display: block;
    display: flex;
    color: #e8ddbf;
    font-family: "Telegraf-Bold";
  }
  .navbar .menu .menu-item {
    margin: 0 30px 0 0;
  }
  .navbar .menu .menu-item:last-child {
    margin: 0;
  }
  .navbar .menu .menu-item a {
    color: #e8ddbf;
  }
}

aside.menu-screen {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #4c459b;
  color: #e8ddbf;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 5;
  transform: translate(100%, 0);
  overflow: hidden;
  transition: 300ms;
}
aside.menu-screen .menu .menu-item {
  font-family: "Telegraf-Bold";
  margin: 0 0 20px 0;
  font-size: 2.1rem;
}
aside.menu-screen .menu .menu-item:last-child {
  margin: 0;
}
aside.menu-screen .menu .menu-item a {
  color: #e8ddbf;
}
aside.menu-screen .socials-list {
  position: absolute;
  bottom: 7%;
}
aside.menu-screen.visible {
  transform: translate(0, 0);
}
@media (min-width: 760px) {
  aside.menu-screen {
    display: none;
  }
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #e8ddbf;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #e8ddbf;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.band-info {
  background-color: #4c459b;
  padding: 2rem 0;
}
.band-info h1,
.band-info p {
  padding: 0 10%;
}
@media (min-width: 760px) {
  .band-info h1,
.band-info p {
    padding: 0 15%;
  }
}
@media (min-width: 1000px) {
  .band-info h1,
.band-info p {
    padding: 0;
  }
}
.band-info .introduction-wrapper .title.band {
  color: #ed7759;
  font-family: "Telegraf-Regular";
  font-weight: 400;
  font-size: 2.1rem;
  margin: 1rem 0 3rem 0;
  letter-spacing: 0.06rem;
}
.band-info .introduction-wrapper .title.band span {
  font-family: "Telegraf-UltraBold";
  font-weight: 800;
}
@media (min-width: 760px) {
  .band-info .introduction-wrapper .title.band {
    font-size: 4rem;
  }
}
.band-info .introduction-wrapper .paragraphs-wrapper .paragraph.band {
  color: #e8ddbf;
  line-height: 1.2;
}
@media (min-width: 1000px) {
  .band-info .introduction-wrapper {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
  }
  .band-info .introduction-wrapper .title.band {
    max-width: 40%;
  }
  .band-info .introduction-wrapper .paragraphs-wrapper {
    max-width: 40%;
  }
}
.band-info .band-photos-container .band-photos-wrapper {
  margin: 3rem auto;
  width: 100%;
  max-width: 385px;
  height: 385px;
  position: relative;
  overflow: hidden;
  line-height: 0;
}
.band-info .band-photos-container .band-photos-wrapper .photo-container {
  transition: all 400ms;
  width: 100%;
  max-width: 385px;
  max-height: 385px;
  position: absolute;
}
.band-info .band-photos-container .band-photos-wrapper .photo-container .photo {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.band-info .band-photos-container .band-photos-wrapper .photo-container .photo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d9d9d9;
  opacity: 0;
  color: #4c459b;
  display: grid;
  grid-template-columns: 66fr 251fr 66fr;
  grid-template-rows: 116fr 251fr 116fr;
  transition: 300ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
.band-info .band-photos-container .band-photos-wrapper .photo-container .photo-overlay h5 {
  grid-row: 1/2;
  grid-column: 2/3;
  font-size: 1.9rem;
  margin: 0;
  align-self: end;
}
.band-info .band-photos-container .band-photos-wrapper .photo-container .photo-overlay p {
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 1.15rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  align-self: center;
}
.band-info .band-photos-container .band-photos-wrapper .photo-container .photo-overlay:hover, .band-info .band-photos-container .band-photos-wrapper .photo-container .photo-overlay:active {
  opacity: 0.8;
}
@media (min-width: 760px) {
  .band-info .band-photos-container .band-photos-wrapper {
    margin: 3rem 0;
    width: 100%;
    max-width: 100%;
    height: 20vw;
  }
  .band-info .band-photos-container .band-photos-wrapper .photo-container {
    width: 20%;
    max-width: 20%;
  }
  .band-info .band-photos-container .band-photos-wrapper .photo-container .photo {
    width: 20vw;
    max-width: 100%;
  }
}
.band-info .photos-switcher {
  display: flex;
  justify-content: center;
}
.band-info .photos-switcher .switch {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: solid 1px #e8ddbf;
  margin: 0 15px 0 0;
  transition: all 200ms;
  cursor: pointer;
}
.band-info .photos-switcher .switch.active {
  background-color: #e8ddbf;
}
.band-info .photos-switcher .switch:last-child {
  margin: 0;
}
@media (min-width: 760px) {
  .band-info .photos-switcher {
    display: none;
  }
}

.concerts {
  background-image: url(/assets/img/3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.concerts .concerts-title {
  color: #4c459b;
  margin: 0;
  font-size: 2.1rem;
  letter-spacing: 1px;
  padding: 55px 0;
}
.concerts .band-concerts-container .concerts-clips-wrapper {
  margin: 0 auto;
  width: 100%;
  width: 385px;
  height: 256px;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
.concerts .band-concerts-container .concerts-clips-wrapper .clip-container {
  transition: all 400ms;
  min-height: 256px;
  position: absolute;
}
.concerts .band-concerts-container .concerts-clips-wrapper .clip-container .concert-pic {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
@media (min-width: 760px) {
  .concerts .band-concerts-container .concerts-clips-wrapper {
    height: 466px;
    width: 700px;
  }
  .concerts .band-concerts-container .concerts-clips-wrapper .clip-container {
    min-height: 466px;
    max-width: 700px;
  }
}
.concerts .videos-switcher {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.concerts .videos-switcher .clip-switch {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: solid 1px #e8ddbf;
  margin: 0 15px 0 0;
  transition: all 200ms;
  cursor: pointer;
}
.concerts .videos-switcher .clip-switch.active {
  background-color: #e8ddbf;
}
.concerts .videos-switcher .clip-switch:last-child {
  margin: 0;
}
.concerts .concert-video-wrapper {
  max-width: 100vw;
  position: relative;
  line-height: 0;
  overflow-x: hidden;
  padding: 2rem 0;
}
.concerts .concert-video-wrapper .video-thumbnail {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.contact {
  text-align: center;
  color: #4c459b;
}
.contact .contact-title {
  font-size: 2rem;
  letter-spacing: 0.06rem;
  font-weight: 800;
}
.contact .contact-target-wrapper {
  margin: 0 0 3rem 0;
}
.contact .contact-target-wrapper .contact-name {
  font-size: 1.2rem;
  letter-spacing: 0.06rem;
  line-height: 125.5%;
  margin: 0 0 1.5rem 0;
}
.contact .contact-target-wrapper .contact-target-link {
  display: block;
  margin: 0 0 1.5rem 0;
  color: #4c459b;
  font-size: 1.2rem;
}
@media (min-width: 760px) {
  .contact .contact-title {
    font-size: 4rem;
  }
  .contact .contact-targets {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
  }
  .contact .contact-targets .contact-target-wrapper {
    max-width: 30%;
    margin-bottom: 300px;
  }
  .contact .contact-targets .contact-target-wrapper:last-child {
    margin-right: 0;
  }
}/*# sourceMappingURL=main.css.map */